.card,
.cardBack {
  width: 150px;
  height: 200px; 
  border-radius: 0.5rem;
  padding: 8px;
}

.card {
  background-color: white;
  border: 1px solid #d1d5db;
}

.cardBack {
  background-color: #1e40af;
  border: 2px solid #1d4ed8;
  box-shadow: 0px -3px 0px rgba(0,0,0,0.2);
}

.tableauCard {
  position: absolute;
}

.dragging {
  opacity: 0.5;
}

.cardInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardBackInner {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.cardBackPattern {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  border: 2px solid #3b82f6; 
  background-color: #1e40af; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBackSymbols {
  font-size: 2rem;
  color: #93c5fd;
  font-weight: bold;
  transform: rotate(45deg);
}

.cardCorner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rotated {
  transform: rotate(180deg);
}

.cardValue {
  font-size: 1.75rem;
  font-weight: bold;
}

.cardSuit {
  font-size: 1.75rem;
}

.cardCenter {
  font-size: 2.25rem;
  align-self: center;
}

.red {
  color: #dc2626; 
}

.black {
  color: #000000;
}

